.container{
    flex: 2;
    margin-top: 60px;
}
.title{
    font-size: 20px;
}
.subtitle{
    color: gray;
    font-size: 15px;
    font-weight: 400;
}

@media screen and (max-width:1024px) {
    .container{
        display: none;
    }
}
