/* styles.module.css */

.grid {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjusted grid template columns */
    grid-template-rows: repeat(4, auto); /* Changed grid template rows to auto */
    grid-gap: 20px;
    background-color: #FFF6D9;
  }
  
  .item1 {
    grid-area: 1 / 1 / 3 / 3;
  }
  
  .item2 {
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item2 div {
    padding: 10px;
  }
  .item2 h4 {
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
  }
  
  .item2 p {
    font-size: 14px;
    text-align: left;
    line-height: 1.5;
    margin-top: 5px;
  }
  
  .item3 {
    grid-area: 4 / 1 / 5 / 4;
  }
  
  .item4 {
    grid-area: 1 / 3 / 2 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item4 div {
    padding: 10px;
  }
  .item4 h4 {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .item4 p {
    font-size: 14px;
    text-align: left;
    line-height: 1.5;
    margin-top: 5px;
  }
  .item5 {
    grid-area: 2 / 4 / 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .item5 div {
    padding: 10px;
  }
  .item5 h4 {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .item5 p {
    font-size: 14px;
    text-align: left;
    line-height: 1.5;
    margin-top: 5px;
  }
  .item7 {
    grid-area: 3 / 4 / 5 / 5;
  }
  
  .item8 {
    grid-area: 1 / 5 / 2 / 6;
  }
 
  .item9 {
    grid-area: 2 / 5 / 3 / 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item9 div {
    padding: 10px;
  }
  .item9 h4 {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .item9 p {
    font-size: 14px;
    text-align: left;
    line-height: 1.5;
    margin-top: 5px;
  }
  .item10 {
    grid-area: 3 / 5 / 4 / 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item10 div {
    padding: 10px;
  }
  .item10 h4 {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .item10 p {
    font-size: 14px;
    text-align: left;
    line-height: 1.5;
    margin-top: 5px;
  }
  
  .item11 {
    grid-area: 4 / 5 / 5 / 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item11 div {
    padding: 10px;
  }
  .item11 h4 {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .item11 p {
    font-size: 14px;
    text-align: left;
    line-height: 1.5;
    margin-top: 5px;
  }
.item1 h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .item1 p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card {
    padding: 10px;
    height: 175px;
    background: #fcc99e;
    border-radius: .7em;
    opacity: 0.6;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: background, transform, color, opacity;
  }
  
  .card:hover:not(:empty),
  .card:focus:not(:empty) {
    z-index: 1;
    color: #fff;
    background: #ea124f;
    opacity: 1;
    transform: scale(1.15) rotateZ(20deg);
    cursor: pointer;
  }
  
  .card:not(:empty):hover:after,
  .card:not(:empty):focus:after {
    opacity: 1;
  }
  
  .card:not(:empty):before {
    box-shadow: -2px 2px 8px 2px hsla(0, 0%, 0%, 0.2);
  }
  
  .card:empty {
    opacity: 0.3;
  }
  
  .card:before,
  .card:after {
    content: "";
    position: absolute;
    border-radius: .7em;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s cubic-bezier(0.33, 1, 0.68, 1);
  }
  
  .card:after {
    box-shadow: -20px 20px 12px 6px hsla(0, 0%, 0%, 0.2);
    opacity: 0;
  }
  
  /* Responsive */
  @media only screen and (max-width: 600px) {
    .grid {
       grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-template-rows: repeat(6, minmax(auto, 300px));
      overflow-y: scroll;
    }
  
    .item1 {
      grid-area: 1 / 1 / 2 / 3;
    }
  
    .card {
      grid-area: auto;
      text-align: left;
    }
  
    .card:empty {
      display: none;
    }
  }
  